* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #0a0a0b;
  color: #ffffff;
  font-family: "Prata", serif;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1em 3em;
}

main {
  margin: 0 1.2em;
  line-height: 1.4;
}

main>p:nth-child(1) {
  font-size: 2em;
}

main>p:nth-child(2) {
  color: #757575;
  font-family: "infer", sans-serif;
  padding-top: 0.75em;
}

#clients {
  padding: 4em 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 1em;
}

#clients>img {
  min-width: 40vw;
  max-width: 40vw;
  min-height: 3.5vh;
  max-height: 3.5vh;
}

.description {
  color: #757575;
  font-size: 1em;
}

#projects {
  margin-bottom: 6em;
}

div.project-image {
  margin: 2em auto 0.5em;
  min-width: 90vw;
  max-width: 94vw;
  min-height: 28vh;
  max-height: 45vh;
  object-fit: contain;
}

div.project-image>img {
  max-width: 100%;
  max-height: 100%;
}

p.project-title {
  font-size: 1.8em;
  padding: 0 0.6em;
}

p.project-description {
  font-family: "infer", sans-serif;
  line-height: 1.5;
  color: #949494;
  font-size: 1em;
  padding: 0 1.2em;
}

#summary {
  background-color: #2e3038;
  padding: 3em 1em 1em;
}

.summary-heading {
  font-size: 2em;
}

.summary-body-1,
.summary-body-2 {
  color: #9c9c9d;
  font-family: "infer", sans-serif;
  width: 90vw;
  line-height: 1.5;
  padding: 1em 0 3em;
}

.summary-body-1>p:nth-child(2) {
  padding-top: 2em;
}

.summary-body-2>p {
  padding-top: 1.2em;
}

#contact-us {
  padding: 3em 1em;
}

.contact-us-header {
  font-size: 2em;
}

.contact-us-body {
  font-family: "infer", sans-serif;
  line-height: 1.5;
  color: #949494;
  font-size: 1em;
  padding: 0.3em 0.3em 1em;
}

.contact-us-button {
  font-family: "Prata", serif;
  background-color: #fbe850;
  min-width: 39vw;
  max-width: 39vw;
  min-height: 9vh;
  max-height: 9vh;
  border-style: none;
  font-size: 1em;
  font-weight: 200;
}

footer {
  background-color: #2e3038;
  display: flex;
  justify-content: space-between;
  padding: 1.2em;
}

div.social-links {
  min-width: 30vw;
  max-width: 30vw;
  display: flex;
  justify-content: space-evenly;
}

@media screen and (max-width: 1200px) {
  #nav-links {
    display: none;
  }
}

@media screen and (min-width: 1201px) {
  #hamburger-menu {
    display: none;
  }
}

@media screen and (min-width: 700px) and (max-width: 900px) {
  main>p:nth-child(1) {
    font-size: 4em;
  }

  main>p:nth-child(2) {
    font-size: 1.5em;
  }

  #clients>img {
    min-width: 30vw;
    max-width: 30vw;
    min-height: 3.5vh;
    max-height: 3.5vh;
  }

  p.project-title {
    font-size: 2.4em;
  }

  p.project-description {
    font-size: 1.4em;
  }

  .summary-heading {
    font-size: 3em;
  }

  .summary-body-1,
  .summary-body-2 {
    font-size: 1.3em;
  }

  .contact-us-header {
    font-size: 2.7em;
  }

  .contact-us-body {
    width: 72vw;
    font-size: 1.5em;
  }

  .contact-us-button {
    min-width: 20vw;
    max-width: 20vw;
    min-height: 6vh;
    max-height: 6vh;
  }

  div.social-links {
    min-width: 15vw;
    max-width: 15vw;
  }
}